<md-content>
    <h1 class="md-title">About</h1>
    <p>Panic Select is a new and first of it's kind tool, which is designed for your personal success in the massive MOBA game, League of Legends.
Using very own rating system and our custom built algorithm, we do something never done before; give you the best champion which you as an individual can play. 
Our algorithm takes into account, your personal win rates, matchup win rates and even your mastery score. Our win rates update every patch, so don't worry about non-meta picks with us! This tool will take out some of the biases and superstitions that we may have when we are choosing a champion in League of Legends champion select. Due to the ranking algorithm relying on bleeding-edge data, the algorithm will always recommend the best champions no matter what the patch may be; we will always be able to keep up with every montly Ryze rework! If you feel that the tool has incorrectly recommended a champion, look at the 'show details' button and you will be able to take a glimpse at what the ranking algorithm took into account.</p>
    <p>Programmers for Panic Select include:</p>
    <p>(Reddit) FeverfewFayze</p>
    <p>(Reddit) LegateRift</p>
    <p>Logo and favicon designer: (IGN) TheSaltFather</p>
</md-content>