<md-dialog aria-label="Champion Details" style="min-width: 98%; min-height: 98%">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Champion Details</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: white" ng-attr-style="fill: white" aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Winrates">
                    <md-content class="md-padding">
                        <p>Overall Winrate <strong>{{ details.key }}</strong></p>
                        <p>Personal Winrate <strong>{{ detCtrl.champ.personal_win_percent }}</strong> Personal Games Analysed: <strong>{{ detCtrl.champ.personal_games }}</strong></p>
                        <p>Overall Winrate <strong>{{ detCtrl.champ.matchup_win_percent }}</strong>Matchup Games Analysed: {{ detCtrl.champ.matchup_games }}</p>
                    </md-content>
                </md-tab>
                <md-tab label="Item Build">
                    <md-content class="md-padding" style="overflow:visible">
                        <div layout-gt-md="row"  layout="column" layout-align="center center">
                            <md-list-item layout="column" layout-align="center center" flex>
                                <md-divider hide show-gt-md class="vertical-divider"></md-divider>
                                <md-divider hide-gt-md ></md-divider>   
                                <div flex><h2>Most frequent starters</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding md-clickable" ng-repeat="item in details.firstItems.mostGames.items" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ item.name }}" rel="nofollow" target="_blank">
                                                <span>
                                                    <img class="item" src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/item/{{ item.id }}.png" alt="{{ item.name }}" />
                                                </span>
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex><p><strong>{{ details.firstItems.mostGames.games}}</strong> Games | <strong>{{ details.firstItems.mostGames.winPercent }}%</strong> Win Rate</p></div>
 
                            </md-list-item>
                            <md-list-item layout="column" layout-align="center center" flex>
                                <md-divider hide show-gt-md class="vertical-divider"></md-divider>
                                <md-divider hide-gt-md ></md-divider>       
                                <div flex><h2>Highest win % starters</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding" ng-repeat="item in details.firstItems.highestWinPercent.items" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ item.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/item/{{ item.id }}.png" alt="{{ item.name }}" />
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex><p><strong>{{ details.firstItems.highestWinPercent.games}}</strong> Games | <strong>{{ details.firstItems.highestWinPercent.winPercent }}%</strong> Win Rate</p></div>
                            </md-list-item>
                            <md-list-item layout="column" layout-align="center center" flex>
                                <md-divider hide show-gt-md class="vertical-divider"></md-divider>
                                <md-divider hide-gt-md ></md-divider>
                                <div flex><h2>Most frequent core build</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding" ng-repeat="item in details.items.mostGames.items" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ item.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/item/{{ item.id }}.png" alt="{{ item.name }}" />
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex><p><strong>{{ details.items.mostGames.games}}</strong> Games | <strong>{{ details.items.mostGames.winPercent }}%</strong> Win Rate</p></div>
                            
                            </md-list-item>
                            <md-list-item layout="column" layout-align="center center" flex>
                                <div flex><h2>Highest win % core build</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding" ng-repeat="item in details.items.highestWinPercent.items" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ item.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/item/{{ item.id }}.png" alt="{{ item.name }}" />
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex>
                                    <p>
                                        <strong>{{ details.items.highestWinPercent.games}}</strong> Games | 
                                        <strong>{{ details.items.highestWinPercent.winPercent }}%</strong> Win Rate
                                    </p>
                                </div>
                            </md-list-item>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Skill Order">
                    <md-content class="md-padding">
                        <md-list layout-gt-md="row"  layout="column" layout-align="center center">
                            <md-list-item layout="column" layout-align="center center" flex>
                                <div flex><h2>Most freqeunt skill order</h2></div>
                                <div layout="row"> 
                                    <div layout="column" class="skill-block">
                                        <div class="spell" flex></div>
                                        <div class="spell" ng-repeat="skillInfo in details.skills.skillInfo" flex>
                                            <img src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/spell/{{ skillInfo.image }}" 
                                                 alt="{{skillInfo.name}}" 
                                                 class="spell"/>
                                        </div>
                                    </div>
                                    <div layout="column" class="skill-block" ng-repeat="spell in details.skills.mostGames.order track by $index">
                                        <div class="class-index" flex>{{ ($index + 1) }}</div>
                                        <div ng-show="spell === 'Q'" class="skill-selected" flex>Q</div>
                                        <div ng-hide="spell === 'Q'" class="skill-not-selected" flex></div>
                                        <div ng-show="spell === 'W'" class="skill-selected" flex>W</div>
                                        <div ng-hide="spell === 'W'" class="skill-not-selected" flex></div>
                                        <div ng-show="spell === 'E'" class="skill-selected" flex>E</div>
                                        <div ng-hide="spell === 'E'" class="skill-not-selected" flex></div>
                                        <div ng-show="spell === 'R'" class="skill-selected" flex>R</div>
                                        <div ng-hide="spell === 'R'" class="skill-not-selected" flex></div>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Summoners">
                    <md-content class="md-padding">
                        <md-list layout-gt-md="row"  layout="column" layout-align="center center">
                            <md-list-item layout="column" layout-align="center center" flex>
                                <md-divider hide show-gt-md class="vertical-divider"></md-divider>
                                <md-divider hide-gt-md ></md-divider>
                                <div flex><h2>Most frequent summoners</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ details.summoners.mostGames.summoner1.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" 
                                                        src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/spell/Summoner{{ details.summoners.mostGames.summoner1.other }}.png"
                                                        alt="{{ details.summoners.mostGames.summoner1.name}}" />
                                            </a>
                                        </md-list-item>
                                        <md-list-item class="list-padding" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ details.summoners.mostGames.summoner2.name }}" rel="nofollow" target="_blank">
                                                <span>
                                                    <img class="item" 
                                                        src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/spell/Summoner{{ details.summoners.mostGames.summoner2.other }}.png"
                                                        alt="{{ details.summoners.mostGames.summoner2.name}}" />
                                                </span>
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex>
                                    <p>
                                        <strong>{{ details.summoners.mostGames.games}}</strong> Games | 
                                        <strong>{{ details.summoners.mostGames.winPercent }}%</strong> Win Rate
                                    </p>
                                </div>
                            </md-list-item>
                            <md-list-item layout="column" layout-align="center center" flex>
                                <div flex><h2>Highest win % summoners</h2></div>
                                <div flex>
                                    <div layout="row" layout-align="center center" flex>
                                        <md-list-item class="list-padding" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ details.summoners.highestWinPercent.summoner1.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" 
                                                        src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/spell/Summoner{{ details.summoners.highestWinPercent.summoner1.other }}.png"
                                                        alt="{{ details.summoners.highestWinPercent.summoner1.name}}" />
                                            </a>
                                        </md-list-item>
                                        <md-list-item class="list-padding" flex>
                                            <a href="http://leagueoflegends.wikia.com/wiki/{{ details.summoners.highestWinPercent.summoner2.name }}" rel="nofollow" target="_blank">
                                                    <img class="item" 
                                                        src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/spell/Summoner{{ details.summoners.highestWinPercent.summoner2.other }}.png"
                                                        alt="{{ details.summoners.highestWinPercent.summoner2.name}}" />
                                            </a>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex>
                                    <p>
                                        <strong>{{ details.summoners.highestWinPercent.games}}</strong> Games | 
                                        <strong>{{ details.summoners.highestWinPercent.winPercent }}%</strong> Win Rate
                                    </p>
                                </div>    
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Masteries">
                    <md-content class="md-padding">
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Runes">
                    <md-content class="md-padding">
                        <md-list layout-gt-md="row"  layout="column" layout-align="center start">
                            <md-list-item layout="column" layout-align="center center">
                                <md-divider hide show-gt-md class="vertical-divider"></md-divider>
                                <md-divider hide-gt-md ></md-divider>
                                <div flex><h2>Most frequent runes</h2></div>
                                <div flex>
                                    <div layout="column" layout-align="center start">
                                        <md-list-item ng-repeat="rune in details.runes.mostGames.runes">
                                            <img class="rune" 
                                                src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/rune/{{ rune.id }}"
                                                alt="{{ rune.name}}" />
                                            <p> <strong>{{ rune.number}}x</strong> {{rune.name}}: {{ rune.description }}</p>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex>
                                    <p>
                                        <strong>{{ details.runes.mostGames.games}}</strong> Games | 
                                        <strong>{{ details.runes.mostGames.winPercent }}%</strong> Win Rate
                                    </p>
                                </div>
                            </md-list-item>
                            <md-list-item layout="column" layout-align="center center">
                                <div flex><h2>Highest win % runes</h2></div>
                                <div flex>
                                    <div layout="column" layout-align="center start">
                                        <md-list-item ng-repeat="rune in details.runes.highestWinPercent.runes">
                                            <img class="rune" 
                                                src="http://ddragon.leagueoflegends.com/cdn/{{ details.version }}/img/rune/{{ rune.id }}"
                                                alt="{{ rune.name}}" />
                                            <p> <strong>{{ rune.number}}x</strong> {{rune.name}}: {{ rune.description }}</p>
                                        </md-list-item>
                                    </div>
                                </div>
                                <div flex>
                                    <p>
                                        <strong>{{ details.runes.highestWinPercent.games}}</strong> Games | 
                                        <strong>{{ details.runes.highestWinPercent.winPercent }}%</strong> Win Rate
                                    </p>
                                </div>    
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>